@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../font/sortsmillgoudy-regular-webfont.woff2') format('woff2'),
  url('../font/sortsmillgoudy-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/lato-light-webfont.woff2') format('woff2'),
  url('../font/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/lato-lightitalic-webfont.woff2') format('woff2'),
  url('../font/lato-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/lato-regular-webfont.woff2') format('woff2'),
  url('../font/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}









