.feature-wrap {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  margin: 6em 0 2.5em;
}

.feature {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 2em .5em;

  h2 {
    margin: 0;
    text-align: center;
    transition: color .3s ease-in-out;

    &:hover {
      color: $brand-red;
    }
  }
}

.feature-ourStory {
  box-shadow: 0 .125em 0 0 $brand-border, 0 -.125em 0 0 $brand-border;
}

@media screen and (min-width: 37.5em) {
  .feature-wrap {
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
  }

  .feature {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    padding: .5em 2em;

    h2 {
      font-size: calc(2vw + .45em);
    }
  }

  .feature-ourStory {
    box-shadow: .125em 0 0 0 $brand-border, -.125em 0 0 0 $brand-border;
  }
}
