<nav class="teaKnowledge-nav">
    <div class="teaKnowledge-nav-wrap">
        <h2 class="h4">Tea Knowledge</h2>
        {{ .TableOfContents }}
        <ul>
            <li class="teaKnowledge-sectionNav"><a href="{{ .Site.BaseURL }}tea-knowledge/">Tea 101</a></li>
            <li class="teaKnowledge-sectionNav"><a href="{{ .Site.BaseURL }}tea-knowledge/how-to-cup/">How to Cup</a></li>
            <li class="teaKnowledge-sectionNav"><a href="{{ .Site.BaseURL }}tea-knowledge/glossary-of-terms/">Glossary of Terms</a></li>
            <li class="teaKnowledge-sectionNav"><a href="{{ .Site.BaseURL }}tea-knowledge/matching-a-standard/">Matching a Standard</a></li>
        </ul>
    </div>
</nav>
